# OS
.DS_Store
Thumbs.db

# Node / builds
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.env
.env.*
.tmp.driveupload
